#landing-page-container {
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(50% + 60px);
}
#logo {
  width: 120px;
}
#slogan {
  margin-top: 16px;
  width: 360px;
  max-width: 60%;
}
#logo, #slogan { display: none; }
